body {
	background-color: rgb(218, 167, 167);
}

h1{
	color: rgb(12, 15, 216);
	text-align: center;
	font-size: 3em;
}

/* chat window */
.chatContainer{
	text-align: center;
	width: 800px;
	height: 500px;
	background-color: rgb(134, 210, 233);
	border: solid 6px rgb(12, 15, 216);
}

/* Enter Name field */
  input{
	  width: 20%;
	  padding: 12px 20px;
	  margin: 8px 0;
	  font-size: 1em;
	  box-sizing: border-box;
	  border: solid 6px rgb(26, 230, 202);
  }
/* Join Chat Button */
  #nameBtn { 
	  width: 10%;
	  font-size: 1em;
	  background-color: #45a049;
	  padding: 12px 30px;
  }

  /* Send Message Button */
  #sendBtn { 
	width: 10%;
	font-size: 1em;
	background-color: #45a049;
	padding: 12px 30px;
	
	
}
/* Type message field */
#messageInput{
	width: 40%;
	font-size: 1em;
	padding: 12px 30px;

}
